body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 900;
    font-style: oblique;
}

h2 {
    font-weight: 600;
    font-style: normal;
}

.sample_div {
    color: white;
    height: 50vh;
    background-image: url(https://preview.redd.it/i-just-finished-making-my-3rd-frutiger-aero-wallpaper-v0-768c7rldj78f1.jpeg?auto=webp&s=fc01458c3b0db3206a3b1b46bb00ebc6c3402214);
    background-position: center;
    background-repeat: no-repeat;
}

.fake-link {
    color: purple;
}

.fake-link:hover {
    color: white;
}

.fake-link:active {
    color: red;
}